h1 {
  text-align: center;
  text-decoration: underline;
  font-family: cursive;
}
h2 {
  text-align: center;
  color: black;
}
body {
  background-color: darkseagreen

}
.important {
  color: purple;
}
.unimportant {
  color: brown;
}
.right {
  float: right;
}
.sidebar {
  float: left;
  color: brown;
  width: 30%;
  background-color: yellow;
}
