h1 {
  text-align: center;
  text-decoration: underline;
  font-family: cursive;
}
h2 {
  text-align: center;
}
body {
  background-color: darkseagreen

}
.important {
  color: purple;
}
.unimportant {
  color: brown;
}
